.navbar-custom{
  padding: 10px;
  text-align: center;
  background-color: transparent;
}
.nav-link {
  font-family: 'Montserrat', sans-serif;
  color: white !important;
  text-decoration: none;
  font-size:  clamp(1rem, -3.1250rem + 18.3333vw, 6.5rem);
  justify-content: center;
  align-items: center;
  background: transparent;
}