*{
  margin: 0;
  padding: 0;
}
.body{
  /* position: reltaive; */
  background: url("projects/asteroid-app/src/assets/background.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
#header{
  position: absolute;
  z-index: 10;
  height: 300px;
  width: 100%;
}
#footer{
  position: absolute;
  font-size: x-small;
  height: 13px;
  width: 100%;
  bottom: 0;
  background: transparent;
  color: white;
  text-align: center;
}
.navbar-custom{
  padding: 10px;
  text-align: center;
}
.nav-link {
  font-family: 'Montserrat', sans-serif;
  color: white !important;
  text-decoration: none;
  font-size:  clamp(1rem, -3.1250rem + 18.3333vw, 6.5rem);
  justify-content: center;
  align-items: center;
}
.main p{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  font-size: clamp(1rem, -0.8750rem + 8.3333vw, 3.5rem);
}
.card{
  background-color: black;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 10px;
  text-align: center;
}
.card-body{
  text-align: center;
}
.list{
  font-family: 'Open Sans', sans-serif;
  position: relative;
  color: white;
  margin-left: auto;
  margin-right: auto;
  z-index: 200;
}
.buttonFF {
  transition-duration: 0.4s;
  background: transparent !important;
  color: white;
  font-size: 10pt;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid white;
  text-align: center;
}
.buttonFF:hover{
  background-color:rgba(0, 0, 0, 0.5) !important;
  color: white !important;
}