*{
  margin: 0;
  padding: 0;
}

.body{
  /* position: reltaive; */
  background: url("projects/asteroid-app/src/assets/background.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

#header{
  position: absolute;
  z-index: 10;
  height: 300px;
  width: 100%;
}
#footer{
  position: absolute;
  font-size: x-small;
  height: 13px;
  width: 100%;
  bottom: 0;
  background: transparent;
  color: white;
  text-align: center;
}

.navbar-custom{
  padding: 10px;
  text-align: center;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  color: white !important;
  text-decoration: none;
  font-size:  clamp(1rem, -3.1250rem + 18.3333vw, 6.5rem);
  justify-content: center;
  align-items: center;
}


.main h1{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  font-size: clamp(1rem, -1.6250rem + 11.6667vw, 4.5rem);
}
.main p{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  font-size: clamp(1rem, -0.1250rem + 5.0000vw, 2.5rem);
}

#p2{
  color: white;
  text-align: center;
  font-size: x-large;

}

.main h2{
  color: white;
  text-align: center;
  font-size: clamp(1rem, -0.8750rem + 8.3333vw, 3.5rem);
}

.main h3{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
}
.main h4{
  color: white;
  text-align: center;
}

.main h5{
  color: white;
  text-align: center;
}

#small{
  color: white;
  font-size: medium;
  text-align: center;
}

.card{
  background-color: black;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 10px;
}


.card{
  position: relative;
  background-color: black;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 10px;
  
}

.list{
  font-family: 'Open Sans', sans-serif;
  position: relative;
  color: white;
  text-align: center;
  z-index: 200;
}

.button2 {
  transition-duration: 0.4s;
  background: transparent !important;
  color: white;
  font-size: 10pt;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid white;
  text-align: center;
}

.button2:hover {
  background-color:rgba(0, 0, 0, 0.5);
  color: white;
}