*{
  margin: 0;
  padding: 0;
}

#header{
  position: absolute;
  z-index: 10;
  height: 300px;
  width: 100%;
}
#footer{
  position: absolute;
  font-size: x-small;
  z-index: 999;
  height: 13px;
  width: 100%;
  bottom: 0;
  background: transparent;
  color: white;
  text-align: center;
}

.navbar-custom{
  padding: 10px;
  text-align: center;
}

.nav-link {
  color: white !important;
  text-decoration: none;
  font-size:  clamp(1rem, -3.1250rem + 18.3333vw, 6.5rem);
  justify-content: center;
  align-items: center;
}

.main{
  position: reltaive;
  background: url("projects/asteroid-app/src/assets/background.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.main h1{
  color: white;
  text-align: center;
  font-size: clamp(1rem, -1.6250rem + 11.6667vw, 4.5rem);
}
.main p{
  color: white;
  text-align: center;
  font-size: clamp(1rem, -0.1250rem + 5.0000vw, 2.5rem);
}

#p2{
  color: white;
  text-align: center;
  font-size: x-large;

}

.main h2{
  color: white;
  text-align: center;
  font-size: clamp(1rem, -0.8750rem + 8.3333vw, 3.5rem);
}

.main h3{
  color: white;
  text-align: center;
}
.main h4{
  color: white;
  text-align: center;
}

.main h5{
  color: white;
  text-align: center;
}

#small{
  color: white;
  font-size: medium;
  text-align: center;
}

.card{
  background-color: black;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 10px;
}



/* .navbar-custom{
  background: transparent !important;
  height:100px;
}

.nav-link {
  color: white;
  text-decoration: none;
  text-align: center;
}

.background-image {
    background-image: url("projects/asteroid-app/src/assets/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: -21px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

   
  }
 */

