<body>
    <section id="header">
        <div class="container-fluid">
            <nav class="navbar-custom">
                <div class="container-header">
                    <a class="nav-link center" href="{{linkToHome}}" >Is the sky falling?</a>
                </div>
            </nav>
        </div>
    </section>

    <section class="main">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h2> Will you be hit by an asteroid today?</h2>
                    <br>
                    <h1>Check your fate:</h1>
                </div>
            </div>
        </div>


   








        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                 <br>
                 <br>
                 <br>
                 <br>    
                 <br>    
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <h3>Your Chance = {{this.percentage}} </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                 <br>
                 <br>
                 <h3>Number of current near earth objects: {{amount}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <br>
                    <br>
                    <h3>Largest asteroid on this day: {{title}} </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <br>
                    <br>
                    <h3>{{title}} has a max diamter of {{miles}} miles </h3>
                    <h4>(or known to the rest of the world as {{kilometers}} kilometers)</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <br>
                    <br>
                    <h3>If you must leave your house, {{this.recommendation}} </h3>
                </div>
            </div>
        </div>

    </section>
</body>


<!-- 
        <div class="navbar-custom container-fluid">  
    <div>
        <h1>
            <a class="nav-link" href="{{linkToHome}}">Is the sky falling?</a>
        </h1>  
    </div>
    <div class="background-image"></div>
</div> -->
